<form method="POST" action="/homeScreen">
    <label for="login">Log In</label>
    <input type="text" name="login" placeholder="enter full name"/>
    <input type="number" name="password" placeholder="enter your password"/>
    <input type="submit" value="Done"/>
   <form>
