{{!-- 
 <a href='/stores/new'>Create new store</a>

<ul> 
    {{#each stores}}
    <li>
  
     <a href="/stores/{{_id}}">br</a>
   
    </li>
    {{/each}}
</ul>
<a class="back" href="/homeScreen">⇐ Go Back</a>  --}}