 <a class="back" href="/homeScreen">â‡ Go Back</a><br>
<form method="POST" action="/stores">
     <div class="createcont">

         <div class="nme">
    <label for="name">Name</label>
     <input class="w3-input" type="text" id="n1"/>
     </div>

     <div class="adres">
    <label>Address</label>
     <input class="w3-input" type="text" name="Address"/>
     </div>

     {{!-- <div class="box">
    <label>Currently Open</label>
    <input type="checkbox"  name="currentlyOpen" value="true"/>
     </div> --}}

     <div class="number">
    <label>Phone Number</label>
     <input class="w3-input" type="text" name="phoneNumber" id="pr"/>
     </div>

    <input type="submit" value="Create Store" id="cr"/>
  
</form>
</div>