<form method="POST" action="/stores/{{store._id}}?_method=PUT">
<div class="input">

    <div class="nume">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{store.name}}" id="name1"/>
     </div>

     <div class="adresa">
    <label>Address</label>
    <input type="text" name="Address" value="{{store.Address}}" id="name1"/>
    </div>

    <div class="deschis">
    <label>Currently Open</label>
    <input type="checkbox"  name="currentlyOpen" value="true" id="name2"
    {{#if singleStore.currentlyOpen}} checked {{/if}}/>
    </div>
    
    <div class="tel">
    <label>Phone Number</label>
    <input type="number" name="phoneNumber" value="{{store.phoneNumber}}" id="name1"/>
    </div>
    <input type="submit" value="Submit changes"/>
</form>
</div>
