
{{!-- <h2 class="heading">All Clients</h2>

 <a class="link" href='/clients/new'>Create new client form</a>

<ul class="list"> 
    {{#each clients}}
    <li>
  
     <a href="/clients/{{_id}}">{{name}}</a>
   
    </li>
    {{/each}}
</ul>
<a class="back" href="/homeScreen">â‡ Go Back</a> --}}