<a href='/clients'>All Clients</a>
 <a href='/clients/new'>Create new client form</a>

<ul> 
    {{#each clients}}
    <li>
  
     <a href="/clients/{{_id}}">{{name}}</a>
   
    </li>
    {{/each}}
</ul>
