 <a class="back" href="/homeScreen">⇐ Go Back</a><br>
<form method="POST" action="/clients">
<div class="createcont">
    <div class="nme">
    <label for="name">Name</label>
    <input class="w3-input" placeholder="e.g.George Collins" type="text" name="name"/>
    </div>
     <div class="adres">
    <label>Address</label>
    <input class="w3-input" placeholder="Addres,city,state,ZIp code" type="text" name="Address"/>
    </div>
    {{!-- <div class="nme">
    <label>Age</label>
    <input class="w3-input" placeholder="e.g.30" type="number" name="Age"/>
    </div> --}}

    <div class="nme">
    <labe>Store Name</labe>
    <input class="w3-input" placeholder="e.g.Best Buy" type="text" name="StoreName"/>
    </div>

    <div class="nme">
    <label>Purchase</label>
    <input class="w3-input" placeholder="e.g.05669tkgj66" type="text" name="Purchase"/>
    </div>

     <div class="nme">
    <label>Date</label>
    <input class="w3-input" placeholder="mm/dd/yyyy" type="date" name="Date"/>
    </div>

    <input type="submit" value="Create New" id="cr"/>
  
</form>
</div>