body, html {
    background: url("https://images4.alphacoders.com/839/83944.jpg");
    background-size: cover;
}
h1 {
    color: white;
    margin: 7px 0 30px 630px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px
}
h2 {
    color: blue;
    font-size: 50px;
    margin: 10px 0 0 600px
}
h3 {
    color: white;
    font-size: 35px
}
p {
    color: white;
    font-size: 25px
}
a {
    color: white;
    font-size: 35px;  
}
a:hover {
    color: red
}
.h {
    border: 5px solid white;
    height: 60px
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 40px;
    


}
.first, .second, .third {
    font-size: 40px;
    justify-content: center;
    border: 10px solid white;
    opacity: .8;
    height: 450px;
    width: 400px;
    color: chocolate

}
.footer {
    border: 5px solid white;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    color: white


}
.txt {
    text-align: center
}

.single {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 25px
    
}
.nm, .adr, .phone, .current {
    border: 5px solid white;
    width: 300px;
    height: 90px;
    text-align: center
   
}
.back {
    float: right;


}
/* #edit {
    
    margin-left: 650px;
    font-size: 25px
}
#but {
    margin-left: 750px;
    margin-top: 20px;
    width: 100px;
    height: 60px;
    font-size: 50px
} */
.two {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-left: 580px;
    margin-top: 10px
    
}
#edit {
    font-size:25px;
    margin-right: 50px
}
#but {
    font-size: 25px;
    margin-top: 7px
}
