body, html {
    background: url("http://all4desktop.com/data_images/original/4175414-cool-blue.jpg");
    background-size: cover;
}
h1 {
    color: Brown;
    margin: 20px 0 30px 630px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    

}
h2 {
    color: blue;
    font-size: 50px;
    margin: 10px 0 0 600px
}
h3 {
    color: white;
    font-size: 35px
}
p {
    color: white;
    font-size: 25px
}
a {
    color: white;
    font-size: 35px;  
}
a:hover {
    color: red
}
.h {
    background-color: burlywood;
    height: 60px
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
    margin-top: 40px;
    


}
.first, .second, .third {
    font-size: 40px;
    background-color: rosybrown;
    width: 350px
}
.footer {
    background-color: burlywood;
    text-align: center;
    float: inline-end;
    font-size: 25px;
    margin-top: 270px


}

