<form method="POST" action="/login">
    <h1 id="log">Log in</h1>
    <div class="fp">
        <label>Username:</label>
        <input type="text" name="name">
    </div>
    <label>Password (4 characters maximum):</label>
    <input type="password" name="password" maxlength="4" required>

    <input type="submit" value="Log in" id="newb">
</form>
</div>