
<h1 id="log">Log in</h1>
<div class="fp">
    <label>Username:</label>
    <input type="text"  name="name">
</div>

<div>
    <label>Password (4 characters maximum):</label>
    <input type="password"  name="password"
           maxlength="4" required>
</div>
<form method="POST" action="/login">
    <input type="submit" value="Log in" id="newb">
    </form>
</div>