<p>Welcome to our "New Tech Company</p>
{{!-- <p>Please Log In to get access to the main page</p>
<form method="POST" action="/login">
    <label class="lg">Name</label>
    <input type="text" name="name" placeholder="enter your first and last name"/>

    <label>Password</label>
    <input type="number" name="price" placeholder="enter your pin"/>

</form> --}}
