<h2>Products</h2>
 <a href='/products/new'>Create New</a>

<ul> 
    {{#each products}}
    <li>
  
     <a href="/products/{{_id}}">{{name}}</a>
   
    </li>
    {{/each}}
</ul>
<a class="back" href="/homeScreen">⇐ Go Back</a>
   