<form method="POST" action="/products">
    <label for="name">Name</label>
    <input type="text" name="name"/>

    <label>Price</label>
    <input type="number" name="price"/>

    <label>Brand</label>
    <input type="text"  name="brand"/>

    <label>Model</label>
    <input type="text" name="model"/>

    <label>Condition</label>
    <input type="checkbox" name="condition"/>

    <input type="submit" value="Create Product" id="cr"/>
  
</form>